<div class="header">
  {{shrdSvc.screenName}}
  <fa name="sync" style="float:right; font-size:16px; margin-top:2px;"></fa>
</div>
<router-outlet></router-outlet>
<div class="navbar">
  <a routerLink="/" routerLinkActive="active-menu" [routerLinkActiveOptions]="{exact: true}"> 
  <fa name="home"></fa>
 <div style="font-size:10px; margin-top:2px;">Dashboard</div>
  </a>
  <a routerLink="/txn" routerLinkActive="active-menu"><fa name="history"></fa>
   <div style="font-size:10px; margin-top:2px;">Transactions</div>
  </a>
  <a routerLink="/analysis" routerLinkActive="active-menu"><fa name="chart-pie"></fa>
   <div style="font-size:10px; margin-top:2px;">Analysis</div>
  </a>
</div>