<div class="analysis-cta arrow-right gradient-1">
  <div class="big-text">Your monthly snapshot is ready!</div>
  <div class="small-text"> <fa name="chart-area"></fa> You have 6 new insights.</div>
</div>

<div style="margin-left:5px; margin-top:30px; margin-bottom:-10px">
  Summary
</div>
<div class="analysis-cta gradient-2" style="padding-top:20px;">
  <div class="small-text" style="margin-top:0px; margin-bottom:10px; font-size:11px;">
    Total balance
  </div>
<div class="big-text">
  <fa name="rupee-sign"></fa> {{sharedService.getTotalBalance() | number:'.2'}}
</div>
<div style="margin-top:10px; font-size:11px;"> Last transaction on 4-Sep-2020 </div>
</div>
<div style="padding:10px 20px; box-sizing:border-box;" class="gradient-3">
  <div class="bank-balance">
    <span>
      <img [src]="sharedService.bankLogos['icici'].logo" style="height:25px;">
    </span>
    <span style="width:50%; display:inline-block;">ICICI Savings
        <br>
        <div style="font-size: 10px;">Last transaction: 4-Sep-2020</div>

    </span>
    <span> <fa name="rupee-sign"></fa> {{sharedService.bank1Balance | number:'.2'}} </span>
  </div>
  <div class="bank-balance">
    <span>
      <img [src]="sharedService.bankLogos['hdfc'].logo" style="height:25px;">
    </span>
    <span style="width:50%; display:inline-block;">HDFC Savings
        <br>
        <div style="font-size: 10px;">Last transaction: 12-Sep-2020</div>

    </span>
    <span> <fa name="rupee-sign"></fa> {{sharedService.bank2Balance | number:'.2'}} </span>
  </div>
  <div class="bank-balance">
    <span>
      <img [src]="sharedService.bankLogos['paytm'].logo" style="height:25px;">
    </span>
    <span style="width:50%; display:inline-block;">Paytm Bank Savings
        <br>
        <div style="font-size: 10px;">Last transaction: 12-Sep-2020</div>

    </span>
    <span> <fa name="rupee-sign"></fa> {{sharedService.bank2Balance | number:'.2'}} </span>
  </div>
</div>