<div class="analysis-cta arrow-right gradient-1">
  <div class="big-text">Your monthly snapshot is ready!</div>
  <div class="small-text"> <fa name="chart-area"></fa> You have 6 new insights.</div>
</div>

<div style="margin-left:5px; margin-top:30px; margin-bottom:-10px">
  Summary
</div>
<div class="analysis-cta gradient-2" style="padding-top:20px;">
  <div class="small-text" style="margin-top:0px; margin-bottom:10px; font-size:11px;">
    Total balance
  </div>
<div class="big-text">
  <fa name="rupee-sign"></fa> 2333.90
</div>
<div style="margin-top:10px; font-size:11px;"> Last transaction on 4-Sep-2020 </div>
</div>
<div style="height:130px;">Some text</div>