<div>
  <div>
    <h3>Savings Trend</h3>
  </div>
  <div class="gradient-1" style="width:100%; background-image: linear-gradient(to right,#9E9E9E, #795548)">
    <div style="display: block">
      <canvas baseChart
        [datasets]="monthlySavingsChartData"
        [labels]="monthlySavingsChartLabels"
        [options]="monthlySavingsChartOptions"
        [chartType]="monthlySavingsChartType"
        (chartClick)="onClickMonthlySavingsChart($event)"
        style="height: 250px">
      </canvas>
    </div>
  </div>
</div>
<div style="margin-top: 5%">
  <div>
    <h3>Category-wise Spend</h3>
  </div>
  <div class="gradient-2" style="width:100%; background-image: linear-gradient(to right,#607D8B, #2196F3);">
    <div style="display: block">
      <canvas baseChart
        id="savingsInMonthChart"
        [datasets]="savingsInMonthChartData"
        [labels]="savingsInMonthChartLabels"
        [options]="savingsInMonthChartOptions"
        [chartType]="savingsInMonthChartType"
        style="height: 250px; padding-top: 15px">
      </canvas>
    </div>
  </div>
</div>